* {
  box-sizing: border-box;
}
body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type="number"] {
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 5px center;
  border-style: none;
  border-radius: 5px;
}
#num {
  background-image: url(images/icon-dollar.svg);
  width: 100%;
  height: 45px;
}

#howmany {
  background-image: url(images/icon-person.svg);
  height: 45px;
}
.calculator {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 1000px;
  height: 500px;
  padding: 25px;
}

.enter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: 20px;
  padding-right: 45px;
}
.cover {
  margin-top: 5px;
}

.select {
  list-style: none;
  margin-top: 5px;
}
li {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
}
li input {
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  color: white;
  font-size: large;
}
li input[value="Custom"] {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
}
#howmany {
  width: 100%;
}

.amount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  background-color: hsl(183, 100%, 15%);
  border-radius: 20px;
  color: white;
  padding: 40px;
}
