* {
  box-sizing: border-box;
}
body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
input[type="number"] {
  background-color: hsl(189, 41%, 97%);
  background-repeat: no-repeat;
  background-position: 5px center;
  border-style: none;
  border-radius: 5px;
}
#num {
  background-image: url(images/icon-dollar.svg);
  width: 100%;
}

#howmany {
  background-image: url(images/icon-person.svg);
}
.calculator {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 1000px;
  height: 500px;
  padding: 25px;
}

.enter {
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 20px;
}
.bill {
  margin-bottom: 25px;
}

.cover {
  width: 100%;
  margin-top: 5px;
}

.select {
  list-style: none;
  margin-top: 5px;
}
li {
  border: solid 1px;
  display: inline-block;
  width: 25%;
  height: 15%;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.amount {
  float: right;
  width: 50%;
  background-color: hsl(183, 100%, 15%);
  height: 100%;
  border-radius: 20px;
  color: white;
  padding: 20px;
}
